# Linear Regression

In [ ]:
import pandas as pd
import numpy as np
from numpy.linalg import eig

In [2]:
#Read in the dataset 'linear regression'
dataset = pd.read_table('linear-regression.txt',header = None, sep=',',names=['x1','x2','y'])

#Add X0=1 to each data point:
x0 = []
for i in range(len(dataset)):
    x0.append(1)

first_col = pd.DataFrame(columns=['x0'],data=x0)

dataset = first_col.merge(dataset,how='inner',left_index=True, right_index=True)

In [3]:
#Check our dataset:
dataset

      x0        x1        x2         y
0      1  0.693781  0.697544  3.252290
1      1  0.693737  0.575576  2.898651
2      1  0.000576  0.458192  1.986979
3      1  0.194953  0.470199  2.272075
4      1  0.031775  0.026546  0.231178
...   ..       ...       ...       ...
2995   1  0.675794  0.966809  4.710966
2996   1  0.956208  0.406283  2.415559
2997   1  0.153261  0.428193  1.717719
2998   1  0.604550  0.862078  4.106854
2999   1  0.212577  0.115652  0.585631

[3000 rows x 4 columns]

In [4]:
#Define matrix Y for dependent variable:
Y = np.matrix(dataset.loc[:,['y']])

In [5]:
#Define matrix X,which stores the independent variables for each data point:
X = np.matrix(dataset.drop(['y'],axis=1))

In [6]:
#Calculate the weights(parameters of the regression line), using least square method:
W = (np.linalg.inv(X.T*X))*(X.T)*Y

In [7]:
W

matrix([[0.01523535],
        [1.08546357],
        [3.99068855]])

In [13]:
#Calculate the model accuracy rate(R-squared value):
ε = Y-np.dot(X,W)
SSE = ε.T*ε 
total_variance = (Y-np.average(Y)).T*(Y-np.average(Y))
R_squared = 1-(SSE/total_variance)

In [14]:
print('The R-squared value of our linear model is',R_squared)

The R-squared value of our linear model is [[0.97225157]]